#map {
    height: 400px;
    width: 100%;
    z-index: 1;
}

#overlay {
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 100%;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(221, 212, 212, 0);
    z-index: 2;
    cursor: pointer;
    pointer-events: none;
}


#autocomplete {
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 500px;
    display: block;
    margin-bottom: 10px;

}