.snowW {
    position: absolute;
}

snowDrop {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: animateSnow2 15s linear infinite;
    display:block
}

@keyframes animateSnow {
    0% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(350px);
    }
}

@keyframes animateSnow2 {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(350px);
    }
}