.snowW {
    position: absolute;
}


snowDrop {
    position: absolute;
    height: 50px;
    background: linear-gradient(transparent, cornflowerblue);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: animateSnow 5s linear infinite;
}

@keyframes animateSnow {
    0% {
        transform: translateY(0vh);
    }
    75% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(350px);
    }
}

.snowy {
    display: block;
}