thunderbolt  {
    position: relative;
    width: 25px;
    height: 50px;
    background: yellow;
    transform: skewX(-30deg);
}

thunderbolt::before {
    content: '';
    position: absolute;
    top: -50px;
    left: -20px;
    border-bottom: 60px solid yellow;
    border-left: 30px solid transparent;
}

thunderbolt::after {
    content: '';
    position: absolute;
    bottom: -50px;
    right: -20px;
    border-top: 60px solid yellow;
    border-right: 30px solid transparent;
}